*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body {
    background-color: #EF8A17;
}

nav {
    padding:2rem 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E58110;
}

nav a {
    text-decoration: none;
    color: #390804;
    font-size: 2rem;
}

.stick {
    height: 2rem;
    width: 2px;
    border-radius: 5px;
    background-color: #D2770F;
}

section {
    height: 70vh;
    margin: 2rem 10%;
    background-color: rgb(229, 152, 75);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.angel {
    height: 45vh;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.nav h4 {
    font-weight: 500;
    color: #d22d1e;
    cursor: pointer;
}

.nav .active {
    color: #99160B;
    font-weight: 600;
}

.pres {
    height: 50vh;
    width: 400px;
    background-color: #f47037;
    border-radius: 1rem;
    padding: 2rem;
    color: #390804;
}

.info_pres h3 {
    padding-bottom: 1rem;
}

.info_pres span {
    font-weight: 600;
}

.projet img {
    height: 18vh;
}

.none {
    display: none;
}

