*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
main {
    background-color: #fff55e;
}
.titre{
    margin: 3% 0;
    background-color: #ffffff94;
}
.titre .b{
    animation: scrollText 10s infinite linear;
}
.titre .a{
    animation: scrollText 12s infinite linear;
}
.titre .c{
    animation: scrollText 8s infinite linear;
}
.titre h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    color: #430081;
}
@keyframes scrollText {
    from   { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

.lestabs{
    display: flex;
    justify-content: space-evenly;
    width: 65%;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.tab:hover{
    background-color: bisque;
    box-shadow: 0 0 2px 0 bisque;
    border-radius: 45px;
    cursor: pointer;
}

.tabcontent {
    padding: 46px;
    display: none;    
    border-radius: 18px;
}

.lescontents .active {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.active p{
    width: 70%;
    margin: 5%;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tofs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
}

.bigTabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 5% 7% 5%;
    padding: 4%;
    background-color: #ffffff94;
}

#tabcontent3 img{
    width: 15%;
}

.lestabs h3{
    color: #430081;
}
.lescontents a{
    text-decoration: none;
    font-weight: bold;
    color: #430081;
    font-size: 25px;
}

@media only screen and (max-width: 1517px) {
    .titre h2{
        font-size: 0px;
    }
}

@media only screen and (max-width: 1150px) {
    .lescontents .active {
        flex-direction: column;
    }
    .tabcontent {
        padding: 0;
        margin: 10% 0 0 0 ;
    }
    .tabcontent p{
        width: 100%;
    }
    .lestabs{
        width: 100%;
    }
    .a{
        font-size: 80px;
    }
    .b, .c{
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .lestabs h3{
        font-size: 25px;
    }
}